@-ms-viewport{
    width:device-width
}
html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}

*,::after,::before{
    box-sizing: border-box;
}

html,body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;

    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
}

p {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

p:not(:last-child) {
    margin-bottom: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.blur {
    backdrop-filter: blur(.2rem);
}

.invis {
    opacity: 0;
}

.socials-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 600px;
    height: 350px;
    
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4); /* 77, 4, 89 */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);

    gap: 3rem;
    margin: 0;
}

.custom-card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    gap: 1rem;
}

.custom-card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;

    gap: 1rem
}

@media screen and (max-width: 850px) {
    .custom-card-list {
        gap: .5rem;
    }
    .custom-card-row {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .socials-list {
        flex-direction: row;
        gap: 10rem;
    }
}
@media screen and (max-width: 600px) {
    .custom-card-row {
        gap: .75rem;
    }
    .socials-list {
        gap: 8rem;
    }
}
@media screen and (max-width: 400px) {
    .custom-card-row {
        gap: .5rem;
    }
    .socials-list {
        gap: 6rem;
    }
}

.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 700px;
    height: 420px;
    
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4);   
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
}

#info-card {
    opacity:0;
    margin-left:-9rem;
    z-index:-1;
    transition: opacity .3s .25s ease-in-out, margin .3s ease-in-out;
    height: calc(475px + 1rem);
    width: 8rem;

    padding: 50px 25px 35px 25px;
}

.custom-card h1 {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 2.5em;
    color: #fff;
}

.custom-card-text {
    font-size: 1.1em;
    color: #fff;
}

.custom-card-footer {
    font-size: .9em;
    color: #aaa;
}

.custom-card-link, .custom-card-link:hover {
    font-size: 1em;
    color: #aaa;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .custom-card {
        width: 490px;
        height: 300px;

        padding: 20px;
    }
    #info-card {
        margin-left: 0;
        margin-top:-6rem;
        height: 4rem;
        width: 490px;
        padding: 7px 50px 7px 50px;
    }
    .custom-card h1 {
        font-size: 1.8em;
    }
    .custom-card-text {
        font-size: .9em;
    }
    .custom-card-footer {
        font-size: .6em;
    }
}

@media screen and (max-width: 600px) {
    .custom-card {
        width: 400px;
        height: 240px;

        padding: 17px;
    }
    #info-card {
        margin-left: 0;
        margin-top:-4rem;
        height: 3.5rem;
        width: 400px;
    }
    .custom-card h1 {
        font-size: 1.5em;
    }
    .custom-card-text {
        font-size: .725em;
    }
    .custom-card-footer {
        font-size: .5em;
    }
}

@media screen and (max-width: 400px) {
    .custom-card {
        width: 300px;
        height: 170px;

        padding: 10px;
    }
    #info-card {
        margin-left: 0;
        margin-top:-3.5rem;
        height: 3rem;
        width: 300px;
        padding: 7px 30px 7px 30px;
    }
    .custom-card h1 {
        font-size: 1.2em;
    }
    .custom-card-text {
        font-size: .5em;
    }
    .custom-card-footer {
        font-size: .4em;
    }
}

/* nav */

.custom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 700px;
    height: 55px;

    padding-right: 70px;
    padding-left: 70px;

    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4);;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
}

.custom-nav a, .custom-nav a:hover {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    flex-direction: row;
    justify-content: center;
    color: #fff;

    width: auto;

	font-family: 'PT Sans', sans-serif;
    font-size: 1.7em;
	margin: 0;
	padding: 0
}

@media screen and (max-width: 850px) {
    .custom-nav {
        width: 490px;
        height: 40px;
        border-radius: 9px;
        padding-right: 60px;
        padding-left: 60px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .custom-nav {
        width: 400px;
        height: 35px;
        border-radius: 8px;
        padding-right: 45px;
        padding-left: 45px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 400px) {
    .custom-nav {
        width: 300px;
        height: 30px;
        border-radius: 7px;
        padding-right: 35px;
        padding-left: 35px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1em;
    }
}

.socials-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: auto;
    width: auto;
    z-index: 100;
    transition: all .3s ease-in-out;

    filter: invert(90%);
}
.socials-button:hover {
    filter: invert(30%);
}