@-ms-viewport{
    width:device-width
}
html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}

*,::after,::before{
    box-sizing: border-box;
}

html,body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;

    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
}

p {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

p:not(:last-child) {
    margin-bottom: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.invis {
    opacity: 0;
}

.socials-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 600px;
    height: 350px;
    
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    background-color: rgba(77, 4, 89, 0.4);   
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);

    backdrop-filter: blur(.3rem);

    gap: 3rem;
    margin: 0;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    gap: 1rem;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;

    gap: 1rem
}

@media screen and (max-width: 800px) {
    .card-list {
        gap: .5rem;
    }
    .card-row {
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
    .socials-list {
        flex-direction: row;
        gap: 10rem;
    }
}
@media screen and (max-width: 600px) {
    .card-row {
        gap: .75rem;
    }
    .socials-list {
        gap: 8rem;
    }
}
@media screen and (max-width: 400px) {
    .card-row {
        gap: .75rem;
    }
    .socials-list {
        gap: 6rem;
    }
}

/* info card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 600px;
    height: 350px;
    
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    background-color: rgba(77, 4, 89, 0.4);   
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);

    backdrop-filter: blur(.3rem);
}

#info-card {
    opacity:0;
    margin-left:-9rem;
    z-index:-1;
    transition: opacity .3s .25s ease-in-out, margin .3s ease-in-out;
    height: calc(400px + 1rem);
    width: 8rem;

    padding: 35px 17px 35px 17px;
}

.card h1 {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 2.5em;
    color: #fff;
}

.card-text {
    font-size: 1.1em;
    color: #fff;
}

.card-footer {
    font-size: .9em;
    color: #aaa;
}

.card-link {
    font-size: 1em;
    color: #aaa;
    margin-left: 25em;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .card {
        max-width: 490px;
        min-width: 400px;

        height: 250px;

        padding: 20px;
    }
    #info-card {
        margin-left: 0;
        margin-top:-6rem;
        height: 4.5rem;
        width: 490px;
        padding: 7px 50px 7px 50px;
    }
    .card h1 {
        font-size: 1.8em;
    }
    .card-text {
        font-size: .9em;
    }
    .card-footer {
        font-size: .6em;
    }
}

@media screen and (max-width: 600px) {
    .card {
        max-width: 400px;
        min-width: 300px;

        height: 200px;

        padding: 17px;
    }
    #info-card {
        margin-left: 0;
        margin-top:-4rem;
        height: 3.5rem;
        width: 400px;
    }
    .card h1 {
        font-size: 1.5em;
    }
    .card-text {
        font-size: .725em;
    }
    .card-footer {
        font-size: .5em;
    }
}

@media screen and (max-width: 400px) {
    .card {
        max-width: 300px;
        min-width: 200px;

        height: 150px;

        padding: 10px;
    }
    #info-card {
        margin-left: 0;
        margin-top:-3.5rem;
        height: 3rem;
        width: 300px;
        padding: 7px 30px 7px 30px;
    }
    .card h1 {
        font-size: 1.2em;
    }
    .card-text {
        font-size: .6em;
    }
    .card-footer {
        font-size: .4em;
    }
}

/* nav */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 600px;
    height: 50px;

    padding-right: 50px;
    padding-left: 50px;

    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    background-color: rgba(77, 4, 89, 0.4);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);

    backdrop-filter: blur(7px);
}

.nav a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    flex-direction: row;
    justify-content: center;
    color: #fff;

    width: auto;

	font-family: 'PT Sans', sans-serif;
    font-size: 1.7em;
	margin: 0;
	padding: 0
}

@media screen and (max-width: 800px) {
    .nav {
        width: 490px;
        height: 35px;
        border-radius: 9px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .nav a {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        width: 400px;
        height: 30px;
        border-radius: 8px;
        padding-right: 25px;
        padding-left: 25px;
    }
    .nav a {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 400px) {
    .nav {
        width: 300px;
        height: 25px;
        border-radius: 7px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .nav a {
        font-size: 1em;
    }
}

.socials-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: auto;
    width: auto;
    z-index: 100;
    transition: all .5s ease-in-out;
}
.socials-button:hover {
    filter: invert(90%);
}