.custom-card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    gap: 1rem;
}

@media screen and (max-width: 850px) {
    .custom-card-list {
        gap: .75rem;
    }
}

.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 800px;
    height: 470px;
    
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4);   
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
}

.custom-card h1 {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 2.5em;
    color: #fff;
}

.custom-card-text {
    font-size: 1.1em;
    color: #fff;
}

.custom-card-footer {
    font-size: .9em;
    color: #aaa;
}

.custom-card-link, .custom-card-link:hover {
    font-size: 1em;
    color: #aaa;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .custom-card {
        width: 490px;
        height: 350px;

        padding: 20px;
    }
    .custom-card h1 {
        font-size: 1.8em;
    }
    .custom-card-text {
        font-size: .9em;
    }
    .custom-card-footer {
        font-size: .6em;
    }
}

@media screen and (max-width: 600px) {
    .custom-card {
        width: 400px;
        height: 290px;

        padding: 17px;
    }
    .custom-card h1 {
        font-size: 1.5em;
    }
    .custom-card-text {
        font-size: .725em;
    }
    .custom-card-footer {
        font-size: .5em;
    }
}

@media screen and (max-width: 400px) {
    .custom-card {
        width: 300px;
        height: 220px;

        padding: 10px;
    }
    .custom-card h1 {
        font-size: 1.2em;
    }
    .custom-card-text {
        font-size: .5em;
    }
    .custom-card-footer {
        font-size: .4em;
    }
}

/* nav */

.custom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 800px;
    height: 55px;

    padding-right: 70px;
    padding-left: 70px;

    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4);;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
}

.custom-nav a, .custom-nav a:hover {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    flex-direction: row;
    justify-content: center;
    color: #fff;

    width: auto;

	font-family: 'PT Sans', sans-serif;
    font-size: 1.7em;
	margin: 0;
	padding: 0
}

@media screen and (max-width: 850px) {
    .custom-nav {
        width: 490px;
        height: 40px;
        border-radius: 9px;
        padding-right: 60px;
        padding-left: 60px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .custom-nav {
        width: 400px;
        height: 35px;
        border-radius: 8px;
        padding-right: 45px;
        padding-left: 45px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 400px) {
    .custom-nav {
        width: 300px;
        height: 30px;
        border-radius: 7px;
        padding-right: 35px;
        padding-left: 35px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1em;
    }
}