#client-testimonial-carousel {
    height:290px;
}
@media screen and (max-width:800px) {
    #client-testimonial-carousel {
        height: 250px;
    }
}
@media screen and (max-width:600px) {
    #client-testimonial-carousel {
        height: 220px;
    }
}
@media screen and (max-width:450px) {
    #client-testimonial-carousel {
        height: 220px;
    }
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    gap: 1rem;
}
@media screen and (max-width:800px) {
    .card-list {
        gap: .75rem;
    }
}
@media screen and (max-width:600px) {
    .card-list {
        gap: .6rem;
    }
}

.carousel-inner {
    margin-top: 3rem;
}
@media screen and (max-width:800px) {
    .carousel-inner {
        margin-top: 2rem;
    }
}
@media screen and (max-width:600px) {
    .carousel-inner {
        margin-top: 1rem;
    }
}

.reviews-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 700px;
    height: 400px;
    
    padding: 30px 15px 30px 15px;

    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4);   
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);

    backdrop-filter: blur(0rem);
}

.reviews-card h1 {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 2.5em;
    color: #fff;
}

.reviews-card-text {
    font-size: 1em;
    color: #fff;
}

.reviews-card-footer {
    font-size: .9em;
    color: #aaa;
}

.reviews-card-link {
    font-size: 1em;
    color: #aaa;
    margin-left: 25em;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .reviews-card {
        width: 550px;
        height: 350px;

        padding: 30px 10px 30px 10px;
    }
    .reviews-card h1 {
        font-size: 1.8em;
    }
    .reviews-card-text {
        font-size: .9em;
    }
    .reviews-card-footer {
        font-size: .6em;
    }
}

@media screen and (max-width: 600px) {
    .reviews-card {
        width: 450px;
        height: 310px;

        padding: 20px 0px 20px 0px;
    }
    .reviews-card h1 {
        font-size: 1.5em;
    }
    .reviews-card-text {
        font-size: .725em;
    }
    .reviews-card-footer {
        font-size: .5em;
    }
}

@media screen and (max-width: 450px) {
    .reviews-card {
        width: 310px;
        height: 250px;

        padding: 15px 0px 15px 0px;
    }
    .reviews-card h1 {
        font-size: 1.2em;
    }
    .reviews-card-text {
        font-size: .6em;
    }
    .reviews-card-footer {
        font-size: .4em;
    }
}

/* nav */

.custom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 700px;
    height: 50px;

    padding-right: 70px;
    padding-left: 70px;

    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4);;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
}

.custom-nav a, .custom-nav a:hover {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    flex-direction: row;
    justify-content: center;
    color: #fff;

    width: auto;

	font-family: 'PT Sans', sans-serif;
    font-size: 1.7em;
	margin: 0;
	padding: 0
}

@media screen and (max-width: 800px) {
    .custom-nav {
        width: 550px;
        height: 40px;
        border-radius: 9px;
        padding-right: 60px;
        padding-left: 60px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .custom-nav {
        width: 450px;
        height: 35px;
        border-radius: 8px;
        padding-right: 45px;
        padding-left: 45px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 450px) {
    .custom-nav {
        width: 310px;
        height: 35px;
        border-radius: 7px;
        padding-right: 35px;
        padding-left: 35px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1em;
    }
}
