@-ms-viewport{
    width:device-width
}
html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}

*,::after,::before{
    box-sizing: border-box;
}

html,body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;

    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    
}

p {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

p:not(:last-child) {
    margin-bottom: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    gap: 1rem;
}

.reviews-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 700px;
    height: 350px;
    
    padding: 35px;

    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4);   
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);

    backdrop-filter: blur(.3rem);
}

.reviews-card h1 {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 2.5em;
    color: #fff;
}

.reviews-card-text {
    font-size: 1em;
    color: #fff;
}

.reviews-card-footer {
    font-size: .9em;
    color: #aaa;
}

.reviews-card-link {
    font-size: 1em;
    color: #aaa;
    margin-left: 25em;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .reviews-card {
        max-width: 550px;
        min-width: 400px;

        height: 250px;

        padding: 20px;
    }
    .reviews-card h1 {
        font-size: 1.8em;
    }
    .reviews-card-text {
        font-size: .9em;
    }
    .reviews-card-footer {
        font-size: .6em;
    }
}

@media screen and (max-width: 600px) {
    .reviews-card {
        max-width: 420px;
        min-width: 300px;

        height: 200px;

        padding: 17px;
    }
    .reviews-card h1 {
        font-size: 1.5em;
    }
    .reviews-card-text {
        font-size: .725em;
    }
    .reviews-card-footer {
        font-size: .5em;
    }
}

@media screen and (max-width: 450px) {
    .reviews-card {
        max-width: 350px;
        min-width: 200px;

        height: 150px;

        padding: 10px;
    }
    .reviews-card h1 {
        font-size: 1.2em;
    }
    .reviews-card-text {
        font-size: .6em;
    }
    .reviews-card-footer {
        font-size: .4em;
    }
}

/* nav */

.custom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 600px;
    height: 50px;

    padding-right: 140px;
    padding-left: 140px;

    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    background-color: rgba(11, 11, 11, 0.4);;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);

    backdrop-filter: blur(7px);
}

.custom-nav a, .custom-nav a:hover {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    flex-direction: row;
    justify-content: center;
    color: #fff;

    width: auto;

	font-family: 'PT Sans', sans-serif;
    font-size: 1.7em;
	margin: 0;
	padding: 0
}

@media screen and (max-width: 800px) {
    .custom-nav {
        width: 490px;
        height: 40px;
        border-radius: 9px;
        padding-right: 110px;
        padding-left: 110px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .custom-nav {
        width: 400px;
        height: 35px;
        border-radius: 8px;
        padding-right: 95px;
        padding-left: 95px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 450px) {
    .custom-nav {
        width: 330px;
        height: 30px;
        border-radius: 7px;
        padding-right: 80px;
        padding-left: 80px;
    }
    .custom-nav a, .custom-nav a:hover {
        font-size: 1em;
    }
}
