@-ms-viewport{
    width:device-width
}
html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}

*,::after,::before{
    box-sizing: border-box;
}

html,body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;

    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
}

p {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

p:not(:last-child) {
    margin-bottom: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

/*
.blur {
    backdrop-filter: blur(1rem);
}
    */

.invis {
    opacity: 0;
}

.contacts-button {
    display: flex;
    justify-content: space-evenly;

    height: 100%;
    width: 100%;
    z-index: 100;

    filter: invert(90%);
}
.contacts-button:hover {
    filter: invert(30%);
}

.contacts-card {
    width: 40%;
    height: 50px;
    
    padding: 0px 5px 0px 5px;

    display: flex;
    flex-direction: row;

    background-color: rgba(11, 11, 11, 0);

    margin-top: 3.5rem;
}
@media screen and (max-width: 850px) {
    .contacts-card {
        width: 400px;
        height: 40px;
    }
}
@media screen and (max-width: 600px) {
    .contacts-card {
        width: 300px;
        height: 40px;
    }
}
@media screen and (max-width: 400px) {
    .contacts-card {
        height: 30px;
    }
}